<section class="community-social-cards" align="center">
        <h3 align="center">Select a Power BI Dashboard</h3>
        <div class="hidden-sm-up">
            <ul class="list-unstyled indent bump-down">
    
                <li><a href="https://twitter.com/VMwareClarity" target="_blank">Talk with us on Twitter</a></li>
    
                <li><a href="https://github.com/vmware/clarity/issues" target="_blank">Report an issue</a></li>
    
                <li><a href="https://medium.com/claritydesignsystem" target="_blank">Read our blog</a></li>
    
            </ul>
        </div>
        <div class="hidden-xs-down row">
    
            <div class="col-lg-3 so-icon.pngcol-md-6 col-sm-6">
                <a class="social-card social-card-github" href="https://github.com/vmware/clarity/issues" target="_blank">
                    <div class="card clickable">
                        <div class="card-block">
                            <div class="community-social-icon">
                                <img alt="github" src="./Clarity Design System - Community_files/github.png">
                            </div>
                            <p class="card-text">File a request/bug</p>
                        </div>
                    </div>
                </a>
    
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a class="social-card social-card-stackoverflow" href="https://stackoverflow.com/tags/vmware-clarity" target="_blank">
                    <div class="card clickable">
                        <div class="card-block">
                            <div class="icon">
                                <img alt="Power-BI" src="./Power-BI.png">
                            </div>
                            <p class="card-text">Ask a question</p>
                        </div>
                    </div>
                </a>
    
            </div>

       
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a class="social-card social-card-twitter" href="/faqs" target="_blank">
                    <div class="card clickable">
                        <div class="card-block">
                            <div class="community-social-icon">
                                <img alt="FAQ's" src="./Clarity Design System - Community_files/twitter.png">
                            </div>
                            <p class="card-text">Chat with us</p>
                        </div>
                    </div>
                </a>
    
            </div>

<section class="dashboard-cards" align="center">   
            <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <a href="..." class="card clickable">
                            <div class="card-img">
                                <img src="...">
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    ...
                                </p>
                            </div>
                        </a>
                    </div>
                </div>           
            

        
