.hidden-xs-down {
    width: 300%;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1056px;
    margin: 0 auto;
    padding-top: 100px;

}
.card-block {
    min-height: 60%;
    min-width: 60%;
}